.sommaire_dieux {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 1px #D8F3DC solid;
    border-bottom: 1px #D8F3DC solid;
}

h2 {
    padding: 30px;
    color: #D8F3DC;
}

h4 {
    padding: 15px;
    text-align: center;
    text-decoration: underline;
}

h3:hover {
    color: #D8F3DC;
}

img {
    width: 400px;
    height: 400px;
    border-radius: 400px;
    border: solid 2px #D8F3DC;
}

.flexbox_dieux {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

section {
    margin-top: 30px;
    margin-bottom: 30px;
}

ol {
    padding: 30px;
}