.grid_index {
    padding: 30px;
    display: grid;
    grid-template-rows: 700px 700px 700px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.grid_index img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.element_grid_1 {
    grid-column: 1/3;
    grid-row: 1/2;
}

.element_grid_2 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.element_grid_3 {
    grid-column: 1/3;
    grid-row: 2/4;
}

.element_grid_4 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.grid_index img:hover {
    opacity: 0.8;
}